*{
    box-sizing: border-box;
}

:root {
    --ig-bgcolor: #fafafa;
    --ig-white: #ffffff;
    --border-color: #dcdbdb;
}

body {
    background: var(--ig-bgcolor);
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

header {
    height: 50px;
}

.header-space {
    background: var(--ig-white);
    position: fixed;
    width: 100%;
    z-index: 3;
    height: 53px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #dddddd;
}

.header__menu-tabs {
    margin: 0 auto;
    width: 65%;
    display: flex;
}

.header__menu-tabs .instagram {
    margin-top: 7px;
    height: 30px;
    align-self: center;
    object-fit: contain;
    width: 34%;
    cursor: pointer;
}

.header__menu-tabs .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__menu-tabs .search-content input {
    background: var(--ig-bgcolor);
    width: 170px;
    height: 80%;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.header__menu-tabs .search-content .fas {
    color: #cdcdce;
    position: relative;
    right: -20px;
    top: 5px;
    font-size: 11px;
}

.header__menu-tabs .search-content input[type="text"] {
    padding: 3px;
    padding-left: 25px;
    align-self: center;
    height: 20px;
    padding-bottom: -10px;
    margin-bottom: -3px;
    font-size: 15px;
    font-weight: 10;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #cccccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #cccccc;
}

::placeholder { /* Other */
    color: #cccccc;
}

.header__menu-tabs .search-content input[type="text"]:focus {
    outline: none;
}

.header__menu-tabs-options {
    display: flex;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.header__menu-tabs-options i {
    font-size: 23px;
    cursor: pointer;
}

.header__menu-tabs-options img {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    align-self: center;
    cursor: pointer;
}

.feed-and-suggestions {
    width: 65%;
    margin: 0 auto;
    display: flex;

}

.feed {
    width: 65.5%;
}

.feed__stories {
    background: var(--ig-white);
    margin-top: 34.5px;
    padding: 57px 0;
    height: 100px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    margin-bottom: 24px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.feed__stories-container span {
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -14px;
    cursor: pointer;
}

.feed__stories-item {
    background: var(--ig-white);
    height: 62px;
    width: 62px;
    margin: 0 8.5px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -14px;
}

.feed__stories-item img {
    height: 53px;
    width: 53px;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
}
  
.feed__stories-item img:before {
    background: none;
    border: 4px solid rgb(212, 17, 17);
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

.feed__post {
    background: var(--ig-white);
    margin-top: 26.5px;
    height: 958px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    margin-bottom: 60px;
}

.feed__post-top {
    display: flex;
    justify-content: space-between;
}

.feed__post-topleft {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feed__post-topleft img {
    border-radius: 50%;
    height: 33px;
    width: 35px;
    object-fit: cover;
    margin: 12px 16px 0 18px;
    cursor: pointer;
}

.feed__post-topleft span {
    position: relative;
    bottom: -5px;
    font-family: "Myriad pro Semibold";
    font-weight: 600;
    cursor: pointer;
}

.feed__post-topleft span:hover {
    text-decoration: underline;
}

.feed__post-topright .fas {
    color: rgb(106, 106, 106);
    margin: 18px 22px 0 18px;
    cursor: pointer;
}

.feed__post-middle {
    object-fit: cover;
    margin-top: 15px;
}

.feed__post-middle img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    cursor: pointer;
}

.feed__post-bottom-tabs {
    display: flex;
    justify-content: space-between;
}

.feed__post-bottom-tabs i {
    font-size: 27px;
}

.feed__post-bottom-options {
    margin-top: 9px;
    margin-left: 17px;
}

.feed__post-bottom-options i {
    margin-right: 11px;
    cursor: pointer;
}

.feed__post-bottom-bookmark {
    margin-top: 9px;
    margin-right: 17px;
    cursor: pointer;
}

.feed__post-bottom-likes {
    margin-top: 12px;
    margin-left: 17px;
    font-weight: 400;
    font-size: 15px;
}

.feed__post-bottom-description {
    margin-top: 12px;
    margin-left: 17px;
    font-weight: 400;
    font-size: 15px;
}

.feed__post-bottom-description :nth-child(2) {
    font-weight: 400;
    cursor: inherit;
}
.feed__post-bottom-description :nth-child(3) {
    font-weight: 400;
    color: rgb(170, 170, 170);
    cursor: pointer;
}

.feed__post-bottom-description span,
.feed__post-bottom-likes span {
    font-weight: 600;
    cursor: pointer;
}

.feed__post-bottom-comments-section {
    margin-top: 10px;
    margin-left: 17px;
}

.feed__post-bottom-comments-section :nth-child(2) {
    margin-top: 6px;
}

.feed__post-bottom-comment-flex {
    display: flex;
    justify-content: space-between;
}

.feed__post-bottom-comment-flex .like-comment{
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 15px;
    font-size: 14px;
    position: relative;
    bottom: 5px;
    cursor: pointer;
}

.feed__post-bottom-comments-section > span {
    color: rgb(136, 135, 135);
    font-size: 15px;
    cursor: pointer;
}

.feed__post-bottom-comment {
    width: 90%;
    line-height: 20px;
}

.feed__post-bottom-user {
    margin-top: 10px;
    font-weight: 600;
    cursor: pointer;
    font-size: 14.5px;
}

.feed__post-bottom-user__comment {
    font-size: 14.5px;
    line-height: 10px;
}

.feed__post-bottom-user__comment-more {
    color: rgb(136, 135, 135);
    font-size: 15px;
    cursor: pointer;
}

.feed__post-bottom-comment-hours {
    margin-top: 8px;
}

.feed__post-bottom-comment-hours span {
    color: rgb(160, 160, 160);
    text-transform: uppercase;
    font-weight: 100;
    font-size: 11px;
}

#username:hover {
    text-decoration: underline;
}

.hline {
    margin-top: 10px;
    background: #efefef;
    height: 2px;
    width: 100%;
}

.feed__post-bottom-write {
    margin-top: 12px;
    /* background: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feed__post-bottom-write .smile-section {
    margin-left: 17px;
}

.feed__post-bottom-write .smile-section i {
    font-size: 25px;
}

.feed__post-bottom-write .write-comment {
    align-self: flex-end;
    width: 80%;
    height: 30px;
}

.feed__post-bottom-write .write-comment textarea {
    outline: none;
    width: 100%;
    position: relative;
    bottom: -3px;
    left: 4px;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
}

.feed__post-bottom-write .submit-comment {
    margin-right: 17px;
    align-self: flex-end;
    position: relative;
    top: -6px;
    font-size: 18px;
}

.feed__post-bottom-write .submit-comment span {
    color: #9ab7d3;
    font-weight: 550;
    font-size: 15px;
}

.suggestions {
    width: 100%;
    margin-top: 34.5px;
}

.suggestions-area {
    position: fixed;
    width: 20.7%;
    margin-left: 17px;
    margin-top: 17px;
}

.suggestions-area-self-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suggestions-area-self {
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestions-area-self-image-area {
    background: var(--ig-white);
    height: 65px;
    width: 65px;
    margin: 0px 14px 0px 8.5px;
    border-radius: 50%;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.suggestions-area-self img {
    align-self: center;
    border-radius: 50%;
    height: 55px;
    width: 55px;
}



.suggestions-area-self-namearea {
    display: flex;
    flex-direction: column;
}

.suggestions-area-self-namearea .self-username {
    font-family: "Myriad pro Semibold";
    letter-spacing: .25px;
    font-weight: 600;
    margin-bottom: 4px;
    cursor: pointer;
}

.suggestions-area-self-namearea .self-description-name {
    color: rgb(148, 146, 146);
    font-weight: 300;
    font-size: 14px;
}

.suggestions-area-self-namearea-switch span {
    color: #0897f7d9;
    letter-spacing: .25px;
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 12px;
    cursor: pointer;
}

.suggestions-area-title {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.suggestions-area-title__left {
    color: #a3a3a3;
    font-weight: 600;
    font-size: 15px;
    margin-left: 10px;
}

.suggestions-area-title__right {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 12px;
    align-self: flex-end;
    cursor: pointer;
}